*{
    box-sizing: border-box;
    margin: 0;
}
html,body{
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background: rgb(255,102,51);
    background: linear-gradient(90deg, rgba(255,102,51,0.7511379551820728) 0%, rgba(51,154,255,0.165703781512605) 50%, rgba(255,102,51,0.7259278711484594) 100%);}
.border{border: 4px solid black;}

/* HEADER START */

.header{
    width: 100vw;
    height: 20vh;
    padding: 0px 130px;
    background: white;
    margin: 0px auto;
    z-index: 1000;
}
.header .nav1{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.header .nav2{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(12,18,39);
}
.header .nav-list{
    list-style: none;
    display: flex;
    padding: 0px 0px 0px 0px; @important
}
.header .nav-list>a{
    text-decoration: none;
    font-size: 0.8em;
    margin-left: 20px;
    color: white;
}
.header .nav-list>a:hover{
    color: rgb(235,91,17);
}
.header .search-div{
    height: 90%;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 10px;
}
.header .search-input{
    height: 87%;
    border: 1px solid rgba(128, 128, 128, 0.281);
    border-radius: 50px;
    padding: 20px;
    background: rgb(12,18,39);
    color: white;
}
.header .search-btn{
    border: none;
    height: 80%;
    width: 20%;
    border-radius: 50px;
    position: absolute;
    right: 12px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    background: rgb(12,18,39);
}
.header .nav1 .logo-con{
    width: 30%;
    height: 100%;
}
.header .nav1 .info-con{
    width: 50%;
    height: 100%;
}
.header .nav1 .btn-con{
    width: 12%;
    height: 100%;
}
.header .nav1 .logo-con h1{
    font-weight: 1000;
    font-size: 2.5em;
}
.header .nav1 .logo-con h4{
    margin-top: -20px;
    font-weight: 750;
}
.header .nav1 .info-con{
    display: flex;
}
.header .nav1 .info-con .mail-con{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .nav1 .info-con .call-con{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 0.8em;
}
.header .nav1 .info-con .mail-hid{
    margin-left: 10px;
    font-size: 0.8em;
}
.header .nav1 .info-con .call-hid{
    margin-left: 10px;
}
.header .nav1 .btn-con{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .nav1 .apply-btn{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgb(235,91,17);
    color: white;
    border: none;
}
/* HEADER END */

/* SIDENAV START */

.main-con1{
    width: 100%;
    height: 80vh;
    display: flex;
    position: relative;
    background: rgb(255,64,0);
    background: linear-gradient(90deg, rgba(255,64,0,1) 15%, rgba(255,102,51,0.2721463585434174) 60%, rgba(255,64,0,0.9724264705882353) 90%);
}
.sidenav{
    width: 25%;
    height: 44%;
    margin: 3%;
    font-size: 1.2em;
    background: rgb(12,18,39);
    position: fixed;
    bottom: 27%;
}
.sidenav .sidenavlist{
    list-style: none;
}
.sidenav .sidenavlink{
    text-decoration: none;
}
.sidenav .sidenavlink li{
    margin-top: 6%;
    color: white;
}
.sidenav .sidenavlink li:hover{
    color: rgb(235,91,17);
}
/* SIDENAV END */

/* CONTENT 1 START */

.main-con1 .content1{
    width: 70%;
    height: 95%;
    margin-left: 33%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-con1 .content1 .text1{
    width: 95%;
    height: 45%;
    padding: 10px;
    text-align: justify;
}
.main-con1 .content1 .text1 p{
    margin-top: 10px;
}
.main-con1 .content1 .img{
    width: 70%;
    height: 55%;
    position: absolute;
    right: 25px;
    bottom: 0px;
}
/* CONTENT 1 END */
.content-line-con{
    width: 100%;
    background: rgb(235,91,17);
    display: flex;
    justify-content: end;
}
.contents-line{
    width: 70%;
    border: 1px solid rgb(12,18,39);
    background: rgb(235,91,17);
}

/* CONTENT 2 START */

.main-con2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    background: rgb(255,64,0);
    background: linear-gradient(90deg, rgba(255,64,0,1) 15%, rgba(255,102,51,0.2721463585434174) 60%, rgba(255,64,0,0.9724264705882353) 90%);
}
.main-con2 .content2{
    width: 70%;
    height: 100%;
    margin-top: 10px;
}
.main-con2 .content2 .content2-img{
    width: 50%;
    height: 100%;
}
.main-con2 .content2-first{
    width: 98%;
    height: 60%;
    margin: 10px;
    display: flex;
}
.main-con2 .content2-text1{
    width: 50%;
    height: 100%;
    padding-left: 15px;
}
.main-con2 .content2-text1 p{
    font-size: 1.2em;
    text-align: justify;
    line-height: 230%;
}
.main-con2 .content2-text2{
    width: 98%;
    height: 35%;
    margin: 10px;
    font-size: 1.2em;
    text-align: justify;
    padding: 10px;
    line-height: 200%;
}

/* CONTENT 2 END */

/* CONTENT 3 START */

.main-con3{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    padding-top: 10px;
    background: rgb(255,64,0);
    background: linear-gradient(90deg, rgba(255,64,0,1) 15%, rgba(255,102,51,0.2721463585434174) 60%, rgba(255,64,0,0.9724264705882353) 90%);
}
.main-con3 .why-con{
    width: 70%;
    height: 48%;
    display: flex;
    justify-content: space-between;
}
.main-con3 .why-con .text{
    width: 58%;
    height: 100%;
    padding: 10px;
}
.main-con3 .why-con .text li{
    padding: 3px;
}
.main-con3 .why-con .text a{
    text-decoration: none;
    color: black;
}
.main-con3 .why-con .text a:hover{
    color: blue;
}
.main-con3 .why-con .img{
    width: 40%;
    height: 100%;
}
.main-con3 .where-con{
    width: 70%;
    height: 48%;
    display: flex;
    justify-content: space-between;
}
.main-con3 .where-con .location-img{
    width: 40%;
    height: 100%;
    position: relative;
}
.main-con3 .where-con .location-text{
    width: 58%;
    height: 100%;
    padding: 10px;
    line-height: 200%;
}
.main-con3 .where-con .fa-globe{
    font-size: 20em;
    position: absolute;
    left: 12%;
    top: 2%;
}
.main-con3 .where-con .locations{
    width: 40%;
    height: 50%;
    font-size: 4em;
    color: rgb(235,91,17);
    position: absolute;
    left: 11%;
    top: 6%;
    padding-left: 8%;
}
.main-con3 .where-con .locations i{
    margin-left: 10%;
}
.main-con3 .where-con .location-text li{
    margin-top: 5%;
}
.main-con3 .where-con .location-text a{
    text-decoration: none;
    color: black;
}
.main-con3 .where-con .location-text a:hover{
    color: blue;
    font-size: 1.2em;
}

/* CONTENT 3 END */

/* CONTENT 4 START */

.main-con4{
    width: 100%;
    height: 65vh;
    background: rgb(255,64,0);
    background: linear-gradient(90deg, rgba(255,64,0,1) 15%, rgba(255,102,51,0.2721463585434174) 60%, rgba(255,64,0,0.9724264705882353) 90%);
    display: flex;
    justify-content: end;
    align-items: center;
}
.main-con4 .content4{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-con4 .content4-1{
    width: 100%;
    height: 58%;
    display: flex;
    justify-content: space-between;
}
.main-con4 .content4-1 .text{
    width: 32%;
    height: 100%;
    text-align: justify;
}
.main-con4 .content4-1 .text1{
    width: 32%;
    height: 100%;
    text-align: justify;
    margin-top: 2.8%;
    padding-right: 1%;
}
.main-con4 .content4-1 .img{
    width: 33%;
    height: 100%;
}
.main-con4 .content4-2{
    width: 100%;
    height: 40%;
}
.main-con4 .content4-2 .text-last{
    text-align: justify;
    padding-top: 2%;
    padding-right: 1%;
}

/* CONTENT 4 END */

/* CONTENT 5 START */

.main-con5{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: end;
    align-items: center;
    background: rgb(255,64,0);
    background: linear-gradient(90deg, rgba(255,64,0,1) 15%, rgba(255,102,51,0.2721463585434174) 60%, rgba(255,64,0,0.9724264705882353) 90%);
}
.main-con5 .content5{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-con5 .content5-1{
    width: 100%;
    height: 30%;
}
.main-con5 .content5-text{
    width: 100%;
    height: 100%;
    text-align: justify;
}
.main-con5 .content5-2{
    width: 100%;
    height: 68%;
    display: flex;
    justify-content: space-between;
}
.main-con5 .content5-text-last{
    width: 50%;
    height: 100%;
    text-align: justify;
    padding-top: 2%;
}
.main-con5 .content5-img{
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* CONTENT 5 END */

/* FOOTER START */

.footer{
    width: 100%;
    height: 25vh;
    background: rgb(12,18,39);
    margin: 0px auto;
    padding: 10px;
    border-top-right-radius: 50px;
}
.footer-con1{
    display: flex;
    height: 100%;
    width: 100%;
}
.footer-box{
    width: 25%;
    height: 100%;
}
.footer-box4{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-box a{
    text-decoration: none;
}
.footer-box li{
    list-style: none;
    margin-left: -30px;
    padding: 7px;
    color: white;
}
.footer-box li:hover{
    color: rgb(235,91,17);
}
.footer-box h4{
    padding: 7px;
    color: white;
}
.footer-box p{
    padding: 7px;
    color: white;
}
.footer-icons{
    display: flex;
    justify-content: space-between;
    margin-top: 9%;
}
.footer-box1{
    width: 100%;
    height: 35%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.footer-box1 i{
    font-size: 1.7em;
    color: rgb(235,91,17);

}
.footer-box1 i:hover{
    color: rgb(235,91,17);
}
.footer-line{
    height: 88%;
    border: 1px solid rgba(255, 255, 255, 0.445);
}
.footer2{
    width: 100%;
    height: 50px;
    background: rgb(12,18,39);
    display: flex;
    justify-content: center;
}
.footer2 .div1{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.445);
}
.footer2 .div2{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.6em;
    padding-left: 10px;
}
.footer2 .div2 p{
    margin-left: 10px;
}
.footer2 .div3{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.6em;
}
.footer2 .div3 .div{
    width: 2px;
    height: 70%;
    border: 1px solid rgba(255, 255, 255, 0.445)
}
.footer2 .div3 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.445);
}
.footer2 .div3 a:hover{
    color: rgb(235,91,17);
}

/* FOOTER END */