*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html,body{
    padding: 0;
    background-image: url("../img/homebg.jpg");
    background-position: center;
    background-size: cover;
}

/* HEADER START */

.header-home{
    width: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    position: relative;
    z-index: 1000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.header-home .navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-home .logo{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-home .nav-menu{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-home .nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}
.header-home .nav-link{
    text-decoration: none;
    display: flex;
    margin-left: 60px;
    color: white;
}
.nav-link:hover{
    background: whitesmoke;
    color: black;
    transform: scale(1.2);
}
.header-home .nav-search{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid rgb(66, 66, 66);
    border-radius: 5px;
}
.header-home .search{
    min-width: 200px;
    width: 250px;
    height: 40px;
    padding: 10px;
    background: rgb(23, 27, 36);
    color: white;
    position: relative;
}
.header-home .searchbtn{
    width: 50px;
    height: 40px;
    font-size: 20px;
    margin-top: -1px;
    position: absolute;
    right: 33px;
    background: #221f1f;
    color: white;
}
.header-home .nav-search-con{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}

/* HEADER END */


/* MAIN START */

.heading{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.main-con{
    width: 90%;
    height: 80vh;
    margin: 2% auto;
}
.main-con .main-first{
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-con .main-second{
    width: 95%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-con .card-con{
    position: relative;
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #221f1f;
    border-radius: 10px;
}
.main-con .card-con .thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    background: #221f1f;
    border-radius: 10px;
}
.main-con .thecard:hover{
    transform: rotateY(180deg);
}
.main-con .thecard .thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}
.main-con .thecard .theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    padding-left: 5%;
    font-size: 1.2em;
    color:white;
    transform: rotateY(180deg);
}

/* MAIN END */

/* FOOTER START */

.footer{
    width: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 40px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.footer-con{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    text-align: justify;
}
.footer .b1{
    flex-basis: 25%;
    padding: 10px;
}
.footer .b1:nth-child(2), .footer .b1:nth-child(3){
    flex-basis: 10%;
}
.footer .footer-con .b1 h3{
    width: fit-content;
    margin-bottom: 45px;
}
.footer .footer-con .b1 .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0px;
}
.footer .footer-con .b1 a{
    text-decoration: none;
    color: #fff;
}
.footer .footer-con .b1 li{
    width: fit-content;
    list-style: none;
    margin-bottom: 5px;
    margin-left: -55%;
}
.footer .footer-con .b1 li:hover{
    color: #221f1f;
    background: white;
    scale: 1.2;
}
.footer .footer-con .b1 form{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.footer .footer-con .b1 form .fa-envelope{
    font-size: 18px;
    margin-right: 10px;
}
.footer .footer-con .b1 form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
.footer .footer-con .b1 form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
.footer .footer-con .b1 form button .fa-arrow-right{
    font-size: 16px;
    color: #ccc;
}
.socail-icons .fa-brands{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 50px;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.footer .last-p{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #ccc;
    border-radius: 3px;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    border-radius: 3px;
    background: purple;
    position: absolute;
    left: 10px;
    animation: line 2s linear infinite;
}
@keyframes line {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}


/* FOOTER END */