*{
    box-sizing: border-box;
    margin: 0;
}
html,body{
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.border{border: 4px solid black;}

/* HEADER START */

.header{
    width: 100vw;
    height: 20vh;
    padding: 0px 130px;
    background: white;
    margin: 0px auto;
    z-index: 1000;
}
.header .nav1{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.header .nav2{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(12,18,39);
}
.header .nav-list{
    list-style: none;
    display: flex;
    padding: 0px 0px 0px 0px; @important
}
.header .nav-list>a{
    text-decoration: none;
    font-size: 0.8em;
    margin-left: 20px;
    color: white;
}
.header .nav-list>a:hover{
    color: rgb(235,91,17);
}
.header .search-div{
    height: 90%;
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 10px;
}
.header .search-input{
    height: 87%;
    border: 1px solid rgba(128, 128, 128, 0.281);
    border-radius: 50px;
    padding: 20px;
    background: rgb(12,18,39);
    color: white;
}
.header .search-btn{
    border: none;
    height: 80%;
    width: 20%;
    border-radius: 50px;
    position: absolute;
    right: 12px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    background: rgb(12,18,39);
}
.header .nav1 .logo-con{
    width: 30%;
    height: 100%;
}
.header .nav1 .info-con{
    width: 50%;
    height: 100%;
}
.header .nav1 .btn-con{
    width: 12%;
    height: 100%;
}
.header .nav1 .logo-con h1{
    font-weight: 1000;
    font-size: 2.5em;
}
.header .nav1 .logo-con h4{
    margin-top: -20px;
    font-weight: 750;
}
.header .nav1 .info-con{
    display: flex;
}
.header .nav1 .info-con .mail-con{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .nav1 .info-con .call-con{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 0.8em;
}
.header .nav1 .info-con .mail-hid{
    margin-left: 10px;
    font-size: 0.8em;
}
.header .nav1 .info-con .call-hid{
    margin-left: 10px;
}
.header .nav1 .btn-con{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .nav1 .apply-btn{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: rgb(235,91,17);
    color: white;
    border: none;
}
/* HEADER END */

/* MAIN START */

.main-con{
    width: 100vw;
    height: 80vh;
    background-image: url("../img/college.jpg");
    background-size: cover;
    position: relative;
}
.main-con .main-text{
    width: 35%;
    height: 60%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: black;
    padding-bottom: 20px;
}
.main-con .main-btn{
    width: 20%;
    height: 10%;
    border-radius: 50px;
    color: white;
    background: rgb(235,91,17);
    border: none;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.main-con .main-btn:hover{
    color: rgb(235,91,17);
    background: rgb(12,18,39);
}
.main-con .main-text .headings{
    color: rgb(12,18,39);
}
.main-con .main-text p{
    color: rgb(12,18,39);
    font-weight: 450;
}
.main-con .main-text span{
    color: rgb(235,91,17);
    font-size: 1.3em;
    font-weight: 600;
}
.main-con .bottom-text{
    width: 100vw;
    height: 35%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    font-size: 2em;
    color: white;
    text-align: center;
}
.main-con .bottom-text .box1{
    width: 23%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(235,91,17);
}
.main-con .bottom-text .box1:hover{
    transform: scale(1.1);
    transition: 1s;
}
.main-con .bottom-text .box2:hover{
    transform: scale(1.1);
    transition: 1s;
}
.main-con .bottom-text .box2{
    width: 23%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(12,18,39);
}
.main-con .bottom-text p{
    font-size: 0.4em;
}

/*CONTENT START*/

.content{
    width: 100%;
    height: 65vh;
    overflow: hidden;
    position: relative;
    background: transparent;
}
.c-bg{
    width: 100%;
    height: 100%;
    background-image: url("../img/content.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -10;
    top: 0;
}
.content-bg{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 100px auto;
}
.content-infos{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}
.content-info{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
    color: rgb(12,18,39);
}
.content-text .content-div{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid black;
    background: rgb(235,91,17);
    border-radius: 100%;
}


/* CONTENT END */

/* MAIN END */

/* FOOTER START */

.footer{
    width: 100%;
    height: 59%;
    background: rgb(12,18,39);
    padding: 10px;
    border-top-right-radius: 50px;
}
.footer-con1{
    display: flex;
    height: 100%;
    width: 100%;
}
.footer-box{
    width: 25%;
    height: 100%;
}
.footer-box4{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-box a{
    text-decoration: none;
}
.footer-box li{
    list-style: none;
    margin-left: -30px;
    padding: 7px;
    color: white;
}
.footer-box li:hover{
    color: rgb(235,91,17);
}
.footer-box h4{
    padding: 7px;
    color: white;
}
.footer-box p{
    padding: 7px;
    color: white;
}
.footer-icons{
    display: flex;
    justify-content: space-between;
}
.footer-box1{
    width: 100%;
    height: 35%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.footer-box1 i{
    font-size: 1.7em;
    color: rgb(235,91,17);
}
.footer-box1 i:hover{
    color: rgb(235,91,17);
}
.footer-line{
    height: 55%;
    border: 1px solid rgba(255, 255, 255, 0.445);
}
.footer2{
    width: 100%;
    height: 50px;
    background: rgb(12,18,39);
    display: flex;
    justify-content: center;
}
.footer2 .div1{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.445);
}
.footer2 .div2{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 0.6em;
    padding-left: 10px;
}
.footer2 .div2 p{
    margin-left: 10px;
}
.footer2 .div3{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.6em;
}
.footer2 .div3 .div{
    width: 2px;
    height: 70%;
    border: 1px solid rgba(255, 255, 255, 0.445)
}
.footer2 .div3 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.445);
}
.footer2 .div3 a:hover{
    color: rgb(235,91,17);
}

/* FOOTER END */